<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="card">
            <h2><span>Card</span> {{card.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Image</span></dt>
                <dd>
                    <span>{{card.image}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{card.title}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{card.description}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{card.date}}</span>
                </dd>
                <dt><span>Behavior</span></dt>
                <dd>
                    <span>{{card.behavior}}</span>
                </dd>
                <dt><span>Data</span></dt>
                <dd>
                    <span>{{card.data}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card', card.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
